<h1><div align="center">Contact us</div></h1>

 <!DOCTYPE html>
<html>
<body>

<h3>Send us an e-mail to arrange a Viewing:</h3>

<form action="MAILTO:jimmymcginley@hotmail.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name" value=""><br>
E-mail:<br>
<input type="text" name="mail" value=""><br>
Comment:<br>
<input type="text" name="comment" value="" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
   <%= link_to "Home page",properties_indexTwo_path %>
</body>
</html>
